# Package Files #
*.jar
*.war
*.ear
*.prefs
war/WEB-INF/appengine-generated/
war/WEB-INF/classes/
.settings/
*~
.classpath
src/*.class
src/com/cocolog_nifty/kjunichi/kjwfx/*.class
src/com/cocolog_nifty/kjunichi/kjwfx/bean/*.class
src/com/cocolog_nifty/kjunichi/kjwfx/ds/*.class