<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Kjwfx</servlet-name>
		<servlet-class>com.cocolog_nifty.kjunichi.kjwfx.KjwfxServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KjwfxSell</servlet-name>
		<servlet-class>com.cocolog_nifty.kjunichi.kjwfx.KjwfxSellServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FxCheck</servlet-name>
		<servlet-class>com.cocolog_nifty.kjunichi.kjwfx.FxCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FxGraph</servlet-name>
		<servlet-class>com.cocolog_nifty.kjunichi.kjwfx.FxGraphServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FxGraph2</servlet-name>
		<servlet-class>com.cocolog_nifty.kjunichi.kjwfx.FxGraph2Servlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FxUpdateRate</servlet-name>
		<servlet-class>com.cocolog_nifty.kjunichi.kjwfx.FxUpdateRateRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FxJSON</servlet-name>
		<servlet-class>com.cocolog_nifty.kjunichi.kjwfx.FxJsonServlet</servlet-class>
	</servlet>
	
	<!-- JSPC servlet mappings start -->

    <servlet>
        <servlet-name>org.apache.jsp.jsp.copyfxRec_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.copyfxRec_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.fxDetail_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.fxDetail_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.fxgraph_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.fxgraph_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.fxlastweek_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.fxlastweek_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.fxlist_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.fxlist_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.fxperformance_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.fxperformance_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.fxtanuki_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.fxtanuki_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.copyfxRec_jsp</servlet-name>
        <url-pattern>/jsp/copyfxRec.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.fxDetail_jsp</servlet-name>
        <url-pattern>/jsp/fxDetail.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.fxgraph_jsp</servlet-name>
        <url-pattern>/jsp/fxgraph.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.fxlastweek_jsp</servlet-name>
        <url-pattern>/jsp/fxlastweek.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.fxlist_jsp</servlet-name>
        <url-pattern>/jsp/fxlist.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.fxperformance_jsp</servlet-name>
        <url-pattern>/jsp/fxperformance.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.fxtanuki_jsp</servlet-name>
        <url-pattern>/jsp/fxtanuki.jsp</url-pattern>
    </servlet-mapping>

<!-- JSPC servlet mappings end -->

<servlet-mapping>
		<servlet-name>Kjwfx</servlet-name>
		<url-pattern>/kjwfx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KjwfxSell</servlet-name>
		<url-pattern>/kjwfxsell</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FxCheck</servlet-name>
		<url-pattern>/fxcheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FxUpdateRate</servlet-name>
		<url-pattern>/fxupdaterate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FxGraph</servlet-name>
		<url-pattern>/fxgraph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FxJSON</servlet-name>
		<url-pattern>/fxjson</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <display-name>Remote API Servlet</display-name>
    <servlet-name>RemoteApiServlet</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>RemoteApiServlet</servlet-name>
    <url-pattern>/_ah/remote_api</url-pattern>
</servlet-mapping>

	<welcome-file-list>
		<welcome-file>jsp/fxlist.jsp</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>
